<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to current_user.name, edit_user_registration_path %>
      <%= link_to "Log_out", destroy_user_session_path, method: :delete %>
    <%end%>
  </body>
</html>
