<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../assets/stylesheets/reset.css">

  </head>

  <body>

      <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
      <% end %>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"><%= link_to "Members'", root_path %></a>
        <form class="form-inline">
          <% if user_signed_in? %>
            <%= link_to current_user.name, edit_user_registration_path %><br>
            <%= link_to "Log_out", destroy_user_session_path, method: :delete %>
          <% else %>
          <button type="button" class="btn btn-outline-primary m-2 "><%= link_to "Sign_up", new_user_registration_path %></button>
          <button type="button" class="btn btn-light-primary m-2 "><%= link_to "Log_in", new_user_session_path %></button>
          <%end%>
        </form>
      </nav>
  <div class="main">
    <%= yield %>
  </div> 
    
  </body>
</html>
